<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/styleTemplate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/styleHome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/stylePosts.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <title>USPapo</title>
</head>
    <!-- COR AZUL ESCURO: #3495ab -->
    <!-- COR AZUL CLARO:  #64c4d2 -->
    <!-- COR AMARELO:     #fbb430 -->
<body>
    <div class="jumbotron" style="background-color: #3495ab; display: flex; justify-content: space-between; margin-bottom: 0%;">
        <div class='logo'>
            <a href="{% url 'inicio' %}"><img width="75px" height="auto" src="{% static 'images/Logo_Uspapo.png' %}" class="img-fluid">
            </a>        
        </div>
        <div class='botoes' style="display: flex;">
            {% if not user.is_authenticated %}
            <a href="{% url 'entrar' %}"> <button class="btn btn-warning btn-lg">Entrar</button></a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'postar' %}"><button style="margin-right: 20%;" class="btn btn-warning btn-lg">Postar</button></a>
                <a href="{% url 'perfil' %}"><button class="btn btn-warning btn-lg" style="margin-left: 10%;" >Perfil</button></a>
                <form action="{% url 'sair' %}" method="POST"> 
                    {% csrf_token %} 
                    <button type='submit' class="btn btn-danger btn-lg" style="margin-left: 20%;">Sair</button>
                </form>
            {% endif %}
        </div>
    </div>

    
    {% if not user.is_authenticated %}
    <!DOCTYPE html>
        <body>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-lg-5">
                    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                        <div class="m-4 m-lg-5">
                            <h1 class="display-5 fw-bold">Bem-vindo(a) à USPapo.</h1>
                            <p class="fs-4">A rede social para uspianos. <br> Conecte-se, compartilhe, converse. <br> O melhor local para trocar experiências e se integrar à comunidade.</p>
                            <a href="{% url 'cadastro' %}"><button class="btn btn-warning btn-lg">Cadastre-se</button></a> 
                    </div>
                </div>
            </header>
            <!-- Page Content-->
            <section class="pt-4">
                <div class="container px-lg-5">
                    <!-- Page Features-->
                    <div class="row gx-lg-5">
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                    <h2 class="fs-4 fw-bold">Eventos</h2>
                                    <p class="mb-0">Convide colegas a realizarem atividades com você! Jogatinas, rodas de conversa, debates, esportes, estudo, e muito mais!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4">
                                        <img style="max-width: 80%;" src="{% static 'images/connect.png' %}" alt="">
                                    </div>
                                    <h2 class="fs-4 fw-bold">Conecte-se</h2>
                                    <p class="mb-0">Faça novas amizades, compartilhe experiências, ajude, e seja ajudado! Contribua para tornar o ambiente universitário mais agradável e acolhedor.</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h1 class="container text-center" style="margin-bottom: 7%;">Desenvolvedores</h1>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"> <img style="max-width: 90%;" src="{% static 'images/rodrigo.png' %}" alt="Foto de Rodrigo Sales Marcolin"></div>
                                    <h2 class="fs-4 fw-bold">Rodrigo Sales Marcolin</h2>
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg> Github: <strong>rodrigomarcolin</strong></h6>
                                    <span class="text-secondary"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"> <img style="max-width: 90%;" src="{% static 'images/lucas.png' %}" alt="Foto de Lucas Parra Sgarbosa"></div>
                                    <h2 class="fs-4 fw-bold"> Lucas Parra Sgarbosa </h2>
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg> Github: <strong>lucaspsg</strong></h6>
                                    <span class="text-secondary"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"> <img style="max-width: 92%;" src="{% static 'images/ian.jpg' %}" alt="Foto de Ian"></div>
                                    <h2 class="fs-4 fw-bold"> Ian Andrade de Magalhães </h2>
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg> Github: <strong>IanDrads</strong></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xxl-4 mb-5">
                            <div class="card bg-light border-0 h-100">
                                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-4 mt-n4"> <img style="max-width: 90%;" src="{% static 'images/eduardo.png' %}" alt="Foto de Eduardo Jardim Vieira Pereira dos Santos"></div>
                                    <h2 class="fs-4 fw-bold"> Eduardo Jardim V. P. dos Santos </h2>
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg> Github: <strong><a></a>EduardoJardim</strong></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer-->
            <footer class="py-5 bg-uspapo">
                <div class="container"><p class="m-0 text-center text-white">USPapo 2021 - Desenvolvido para a disciplina PCS3100 da Poli-USP</p>
                    <a href=#><p class="m-0 text-center text-white"> Saiba Mais</p></a>
                </div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
        </body>
    </html>
    
    {% endif %}

    {% if user.is_authenticated %}

    <div class="container" style="margin-top: 3%;">
        <div class="row">
           {% for evento in eventos %}
           <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{ evento.titulo }}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            {% if evento.categoria == 'Jogos' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 90%; border-radius: 50%;" src="{% static 'images/jogo.jpg' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Música' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 93%; border-radius: 50%;" src="{% static 'images/musica.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Estudo' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 94%; border-radius: 50%;" src="{% static 'images/estudo.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Conversa' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 93%; border-radius: 50%;" src="{% static 'images/resenha.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Filme' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 90%; border-radius: 50%;" src="{% static 'images/filme.jpeg' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Esporte' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 85%; border-radius: 50%;" src="{% static 'images/esporte.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Palestra' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="max-width: 90%; border-radius: 50%;" src="{% static 'images/palestra.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            {% if evento.categoria == 'Live' %}
                            <div class="widget-49-date-warning bg-uspapoyellow">
                                <img style="width: 88%; border-radius: 50%;" src="{% static 'images/live.png' %}" alt="foto do evento">
                            </div>
                            {% endif %}
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{ evento.categoria }}</span>
                                <span class="widget-49-meeting-time" style="color: black;">{{ evento.datahora }}</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>{{ evento.descricao }}</span></li>
                            <li class="widget-49-meeting-item"><span> Link: {{ evento.link }} </span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <button type="submit" class="btn btn-outline-danger btn-sm btn-flash-border-warning"> Deletar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           {%endfor%}
        </div>
        
    {% endif %}
</body>
{% endblock %}